@keyframes flutuar {
    0%{transform: translatey(0)}
    50%{transform: translatey(-30px)}
    100%{transform: translatey(0);
        }
}

@keyframes tremer {
    0%{margin-left: 0px;}
    25%{margin-left: -4px;}
    50%{margin-left: 0px;}
    75%{margin-left: -4px;}
    100%{margin-left: 0px;}
}