@media screen and (max-width: 960px){
    .cabecalho{
        flex-direction: column;
    }
    .links{
        display: none;
    }
    .icone-menu{
        display: inline;
    }
    .secoes{
        flex-direction: column;
    }
}
@media screen and (max-width: 450px){
    .cabecalho{
        flex-direction: column;
    }
    .links{
        display: none;
    }
    .icone-menu{
        display: inline;
    }
    .secoes{
        flex-direction: column;
    }
    .secao-localizacao,.secao-marca{
        display: none;
    }
    .icone-localizacao,.marca-empresa{
        display: inline;
    }
    .icones-portifolio{
        width: 320px;
    }
}
@media screen and (max-width: 400px){
    .cabecalho{
        flex-direction: column;
    }
    .links{
        display: none;
    }
    .icone-menu{
        display: inline;
    }
    .secoes{
        flex-direction: column;
    }
   
    .icones-portifolio{
        width: 250px;
    }
}
@media screen and (max-width: 370px){
    .cabecalho{
        flex-direction: column;
    }
    .links{
        display: none;
    }
    .icone-menu{
        display: inline;
    }
    .secoes{
        flex-direction: column;
    }
    .icones-portifolio{
        width: 250px;
    }
    .secao-localizacao,.secao-marca{
        display: none;
    }
    .icone-localizacao,.marca-empresa{
        display: inline;
    }
}
@media screen and (max-width: 260px){
    .cabecalho{
        flex-direction: column;
    }
    .links{
        display: none;
    }
    .icone-menu{
        display: inline;
    }
    .secoes{
        flex-direction: column;
    }
    .icones-portifolio{
        width: 250px;
    }
}