@media screen and (min-width:200px) and (max-width:280px){
 
    .logo{
    height:45px;
  }
    .menu{
    display:none;
    border: 1px solid black;
}
    .icone-menu{
        display: block;
        
    }
    
    .menu a{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 20px;
        font-size: 15px;
     }
     .show{
        display:inline-block;
        flex-direction: column;
     }

    .banner{
        flex-direction: column;
        height: 500px;    
    }
    .titulo{
        margin-top: 30px;
    }
    .formation{
        display: none;
    }
    .foto{
        height: 90px;
        width: 90px;
        margin-top: 40px;
    }
    .secoes{
        flex-direction: column;
    }
    .section-html,.section-css,
    .section-js,.section-bootstrap{
	margin: 10px;
}
    .atalho{
        margin-bottom:30px;
    }
    .rodape{
        flex-direction: column;
    }
}

@media screen and (min-width:300px) and (max-width:480px){
  
   
     .menu{
         display: none;
        padding: 5px;
         
     }
     .icone-menu{
         display: block;
     }
     .menu a{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        font-size: 15px;
     }
     .show{
        display:inline-block;
        flex-direction: column;
     }

     .banner{
         flex-direction: column;
         height: 500px;    
     }
     .titulo{
         margin-top: 30px;
     }
     .formation{
         display: none;
     }
     .foto{
        height: 150px;
        width: auto;
         margin-top: 40px;
     }
     .secoes{
         flex-direction: column;
     }
     .atalho{
         margin-bottom:30px;
     }
     .rodape{
         flex-direction: column;
     }
 }

 @media screen and (min-width:481px) and (max-width:768px){
    
     .menu{
         display: none;
     }
     .icone-menu{
         display: block;
     }
     .menu a{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        font-size: 20px;
        font-weight: bold;
     }
     .show{
        display:inline-block;
        flex-direction: column;
     }

    
     .banner{
         flex-direction: column;
         height: 500px;    
     }
     .titulo{
         margin-top: 30px;
     }
     .formation{
         display: none;
     }
     .foto{
        height: 150px;
        width: auto;
         margin-top: 40px;
     }
     .secoes{
         flex-direction: column;
     }
     .atalho{
         margin-bottom:30px;
     }
     .rodape{
         flex-direction: column;
     }
 }
 @media screen and (min-width:769px) and (max-width:960px){
    .menu{
        display: none;
    }
     .icone-menu{
         display: block;
     }
     .menu a{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        font-size: 20px;
        font-weight: bold;
     }
     .show{
        display:inline-block;
        flex-direction: column;
     }

     .banner{
         flex-direction: column;
         height: 500px;    
     }
     .titulo{
         margin-top: 30px;
     }
     .formation{
         display: none;
     }
     .foto{
        height: 150px;
        width: auto;
         margin-top: 40px;
     }
     .secoes{
         flex-direction: column;
     }
     .atalho{
         margin-bottom:30px;
     }
     .rodape{
         flex-direction: column;
     }
 }