
@media screen and (min-width:200px )and (max-width:300px){
  
    .card{
     display: flex;
     flex-direction:column;
     padding-bottom: 20px;
    }
    .name{
        font-size: 10px;
    }
    .contact{
        display: none;
    }
    .icons{
        width: 50px;
        height: auto;
    }
    .professional-goal{
        width:120px;
        font-size: 10px;
    }
    .last,.fist{
        flex-direction: column;
    }
    
   
    
   
 }
 @media screen and (min-width:320px )and (max-width:395px){
  
    .card{
     display: flex;
     flex-direction:column;
     padding-bottom: 20px;
    }
    .name{
        font-size: 15px;
    }
    .contact{
        display: none;
    }
    .icons{
        width: 80px;
        height: auto;
    }
    .professional-goal{
        width: 280px;
    }
    .fist,.last{
        flex-direction: column;
    }
   
 }

 @media screen and (min-width:412px )and (max-width:479px){
  
    .card{
     display: flex;
     flex-direction:column;
    }
    .name{
        font-size: 20px;
    }
    .contact{
        display: none;
    }
    .icons{
        width: 80px;
        height: auto;
    }
    .professional-goal{
        width: 320px;
    }
    .fist,.last{
        flex-direction: column;
    }
} 
    @media screen and (min-width:480px ) and (max-width:768px){
  
        .card{
         display: flex;
         flex-direction:column;
        }
        .name{
            font-size: 20px;
        }
        .formation{
            font-size: 20px;
        }
        .contact{
            display: none;
        }
        .icons{
            width: 80px;
            height: auto;
        }
        .fist,.last{
            flex-direction: column;
        }
    }
    @media screen and (min-width:760px ) and (max-width:960px){
  
        .card{
         display: flex;
         flex-direction:column;
        }
        .name{
            font-size: 20px;
        }
        .formation{
            font-size: 20px;
        }
        
        .icons{
            width: 80px;
            height: auto;
        }
        .professional-goal{
            width: 500px;;
        }
        .fist,.last{
            flex-direction: column;
        }
    }