*{
	margin: 0;
	padding: 0;
}

		/*topo*/
.cabecalho-desktop{
	/*position: fixed;*/
	display: flex;
	justify-content:space-around;
	align-items: center;
	height:100px;
	width: 100%;
	background-color:#2c3e50;
}


.logo{
	height:60px;
	align-items: center;
	justify-content: center;
}
.menu{
	background-color: #2c3e50;
	
}

.menu-desktop a{
	color: white;
	margin-left: 5px;
	text-decoration: none;
	text-align: center;
	font-family:'Balsamiq Sans', cursive;
	text-transform: uppercase;
}


.menu-mobile{
	display:none;
	background-color: #2c3e50;
	font-family:'Balsamiq Sans', cursive;
	text-transform: uppercase;
	text-align: center;
	padding-top: 5px;
}

.menu-mobile a{
	background-color: #2c3e50;
	color: white;
	text-decoration: none;
	
}
.menu-mobile li{
	border: 1px solid #1abc9c;
	padding: 10px;
	list-style: none;
	text-decoration: none;
}


.menu-desktop, .menu-mobile a:hover{
	color:#1abc9c;
}

.icone-menu{
	background-color: #2c3e50;
	display: none;
	height:auto;
	width: 50px;
	
}

.menu a{
	color: white;
	text-align: center;
	justify-content: center;
	display: none;
	padding: 15px;
	text-decoration: none;
	font-family:'Balsamiq Sans', cursive;
	text-transform: uppercase;
}


.show{
	display:block;
}

		/*corpo*/
.banner{
	background-color:#1abc9c;
	height:700px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.perfil{
	color: white;
	font-size: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family:'Balsamiq Sans', cursive;	
}
.titulo{
	text-align: center;
}

.formation{
	margin-top: 20px;
	font-size:25px;
	text-align: center;
	width: 300px;
}
.sobre{
	font-size: 20px;
	display: none;
}
.foto-perfil{
	display: flex;
	align-items: center;
	
}
.foto {
	width:auto;
	height: 300px;
	border-radius: 50%;
}

.secoes{
	justify-content: center;
	align-items: center;
	background-color:#f1f2f6;
}
.section-html,.section-css,
.section-js,.section-bootstrap{
	/*display: flex;
	flex-direction:row;
	flex-wrap: wrap;*/
	/*margin: 20px;*/
	padding-top: 20px;
	
	justify-content: center;
}
.card{
	margin: 20px;
}


.parteHtml,.parteJs,.parteBootstrap{
	/*border:1px solid black;*/
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}
.title-html{
	font-family:'Balsamiq Sans', cursive;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	color:#fa502e ;
	text-align: center;
}
.title-css{
	font-family:'Balsamiq Sans', cursive;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	color:#2196f3;
	text-align: center;
}
.title-js{
	font-family:'Balsamiq Sans', cursive;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	color:#ffdf00;
	text-align: center;
}
.title-bootstrap{
	font-family:'Balsamiq Sans', cursive;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	color:#5e3b7f;
	text-align: center;
}


.atalho{
	width: 100px;
	height:100px;
	
}
.html{
	border-top: 2px solid #fa502e;
	border-right:2px solid #fa502e;
	border-left:10px solid #fd982c;
	border-bottom:2px solid #fd982c;
	
}
.css{
	border-top: 2px solid #2196f3;
	border-right:2px solid #2196f3;
	border-left:10px solid #2196f3;
	border-bottom:2px solid #2196f3;
}
.js{
	border-top: 2px solid #000000;
	border-right:2px solid #000000;
	border-left:10px solid #ffdf00;
	border-bottom:2px solid #ffdf00 ;
}
.bootstrap{
	border-top: 2px solid #a29bfe;
	border-right:2px solid #a29bfe;
	border-left:10px solid #5e3b7f;
	border-bottom:2px solid #5e3b7f;
	
}
.rodape{
	background-color: #2c3e50;
	height:auto;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
}
.secao-localizacao,.secao-redes-sociais,.secao-marca{
	/*border: 1px solid white;*/
	margin: 10px;
	padding: 20px;
	font-family: 'Montserrat', Arial;
	color: white;
	text-align: center;
	justify-content: center;
	align-items: center;
	
}
.secao-redes-sociais a{
	text-decoration: none;
}

.icone-social{
	height: auto;
	width: 40px;
/*	padding: 10px;*/
}
.icone-localizacao{
	display: none;
	height: auto;
	width: 45px;
}
.zap{
	position: fixed;
	margin-top: 250px;
	margin-left: 20px;
	height: 50px;
	width: auto;
	z-index: 1;
	
}
.marca-empresa{
	height: auto;
	width: 40px;
	margin-right:10px;
	display: none;
}
.footer{

	background-color:#1a252f;
	height:auto;
	color: white;
	text-align: center;
	padding: 20px;
	font-family: 'Montserrat', Arial
}
