*{
	margin: 0;
	padding: 0;
}
		/*topo*/
.cabecalho{
	display:flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	position: fixed;
	justify-content:space-around;
	height:100px;
	width: 100%;
	background-color:#2c3e50;
}
.painel{
	display: flex;
	color: white;
	font-size: large;
	font-family:'Balsamiq Sans', cursive;
	text-transform: uppercase;
}
.progresso{
	margin-left:20px;
}
.barra-progresso{
	width: 100px;
}

	/*Logotipo*/
.habilidades{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links {
	color: white;
	text-decoration: none;
	font-family:'Balsamiq Sans', cursive;
	margin: 10px;
	text-transform: uppercase;
}

.links:hover{
	color:#1abc9c;
}

.icone-menu{
	display:none;
	height:auto;
	width: 50px;
	align-items: center;
	justify-content: center;
}

		/*corpo*/
.banner{
	background-color:#1abc9c;
	height:700px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.perfil{
	color: white;
	font-size: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family:'Balsamiq Sans', cursive;	
}
.titulo{
	text-align: center;
}

.formation{
	margin-top: 20px;
	font-size:25px;
	text-align: center;
	width: 300px;
}
.foto-perfil{
	display: flex;
	align-items: center;
	
}
.foto {
	width:auto;
	height: 300px;
	border-radius: 50%;
}

.secoes{
	display: flex;
	flex-direction:row;
	margin-top: 100px;
	margin-bottom: 100px;
	justify-content: center;
	align-items: center;
}
.section-html,.section-css,
.section-js,.section-bootstrap{
	margin: 20px;
}
.title-html{
	font-family:'Balsamiq Sans', cursive;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	color:#fa502e ;
	text-align: center;
}
.title-css{
	font-family:'Balsamiq Sans', cursive;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	color:#2196f3;
	text-align: center;
}
.title-js{
	font-family:'Balsamiq Sans', cursive;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	color:#ffdf00;
	text-align: center;
}
.title-bootstrap{
	font-family:'Balsamiq Sans', cursive;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	color:#5e3b7f;
	text-align: center;
}


.atalho{
	width: 100px;
	height:100px;
	margin: 20px;
}
.html{
	border-top: 2px solid #fa502e;
	border-right:2px solid #fa502e;
	border-left:10px solid #fd982c;
	border-bottom:2px solid #fd982c;
	margin: 10px;
}
.css{
	border-top: 2px solid #2196f3;
	border-right:2px solid #2196f3;
	border-left:10px solid #2196f3;
	border-bottom:2px solid #2196f3;
	margin: 10px;
}
.js{
	border-top: 2px solid #000000;
	border-right:2px solid #000000;
	border-left:10px solid #ffdf00;
	border-bottom:2px solid #ffdf00 ;
	margin: 10px;
}
.bootstrap{
	border-top: 2px solid #a29bfe;
	border-right:2px solid #a29bfe;
	border-left:10px solid #5e3b7f;
	border-bottom:2px solid #5e3b7f;
	margin: 10px;
}
.rodape{
	background-color: #2c3e50;
	height:auto;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
}
.secao-localizacao,.secao-redes-sociais,.secao-marca{
	/*border: 1px solid white;*/
	margin: 10px;
	padding: 20px;
	font-family: 'Montserrat', Arial;
	color: white;
	text-align: center;
	justify-content: center;
	align-items: center;
	
}

.icone-social{
	height: auto;
	width: 40px;
/*	padding: 10px;*/
}
.icone-localizacao{
	display: none;
	height: auto;
	width: 45px;
}
.marca-empresa{
	height: auto;
	width: 40px;
	margin-right:10px;
	display: none;
}
.footer{

	background-color:#1a252f;
	height:auto;
	color: white;
	text-align: center;
	padding: 20px;
	font-family: 'Montserrat', Arial
}
