*{
    margin: 0;
    padding: 0;
}
header{
    margin-top: 100px;
}
.card{
    background-color:#2d3436;
    background: linear-gradient(#16a085,#1abc9c,#1e272e);
    height: auto;
    width: 70%;
    color:#dfe6e9;
    overflow: hidden;
    margin:auto;
    padding:10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px 5px 10px 10px;

    
}
.profile{
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.name{
    color: #ecf0f1;
    text-transform: uppercase;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    
}
.formation{
    font-family:'Segoe UI';
    color: #ecf0f1;
    text-transform: uppercase;
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
}
.contact{

    margin-top:10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Segoe UI';
}
.social-media-icons{
    margin-top:10px;
    margin-bottom: 10px;
    text-align: center;
}
.icons{
    height: 40px;
    width: auto;
    margin:10px;
}

.profile-picture{
	display: flex;
    justify-content: center;
    margin: auto;
    
}
.picture{
    width:60%;
    border-radius: 50%;
    padding-bottom: 20px;
}