:root{
	--font-primaria:nico moji;
	--cor-primaria:#0669b8;
	--cor-secundaria:#48a5f0;
	--cor-texto-secundario:white;
}
*{
	margin: 0;
	padding: 0;
	
}
@font-face {
    font-family:var(--font-primaria); /* Nome da fonte */
    src: url('../fonts/NicoMoji-Regular.ttf') format('NicoMoji');
}
.tagA{
	text-decoration: none;
}

		/*topo*/
.cabecalho-desktop{
	display: flex;
	justify-content:space-around;
	align-items: center;
	height:100px;
	width: 100%;
	background-color:var(--cor-primaria)
}

.logo{
	font-size: large;
	text-align: center;
	color: var(--cor-texto-secundario);
	font-family: var(--font-primaria);
}
.menu{
	background-color:var(--cor-primaria);
	
}
.abas a{
	color: #0984e3;
	font-family: var(--font-primaria);
	text-transform: uppercase;
	list-style: none;
}

.menu-desktop a{
	color: white;
	margin-left: 5px;
	text-decoration: none;
	text-align: center;
	font-family: var(--font-primaria);
	text-transform: uppercase;
}


.menu-mobile{
	display:none;
	background-color:var(--cor-primaria);
	font-family: var(--font-primaria);
	text-transform: uppercase;
	text-align: center;
	padding-top: 5px;
}

.menu-mobile a{
	color: white;
	text-decoration: none;
	
}
.menu-mobile li{
	border: 1px solid #1abc9c;
	padding: 10px;
	list-style: none;
	text-decoration: none;
}


.menu-desktop, .menu-mobile a:hover{
	color:#1abc9c;
}

.icone-menu{
	display: none;
	height:auto;
	width: 50px;
	
}

.menu a{
	color: white;
	text-align: center;
	justify-content: center;
	display: none;
	padding: 15px;
	text-decoration: none;
	font-family: var(--font-primaria);
	text-transform: uppercase;
}


.show{
	display:block;
}

.banner{
	background-color: var(--cor-secundaria);
	height:700px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.perfil{
	color: white;
	font-size: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: var(--font-primaria);
}
.titulo{
	text-align: center;
	animation: flutuar 10s infinite;
}

.formation{
	margin-top: 20px;
	font-size:25px;
	text-align: center;
	width: 300px;
	animation: flutuar 10s infinite;
}
.sobre{
	font-size: 20px;
	display: none;
}
.foto-perfil{
	display: flex;
	align-items: center;
	
}
.foto {
	width:auto;
	height: 300px;
	border-radius: 50%;
	animation: flutuar 10s infinite;
}

.secoes{
	justify-content: center;
	align-items: center;
	background-color:#f1f2f6;
}

.section-html,.section-css,
.section-js,.section-bootstrap{

	justify-content: center;
}

.card{
	margin: 20px;
}


.parteHtml,.parteJs,.parteBootstrap, .backEnd{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}
.title-html{
	font-family: var(--font-primaria);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	color:#fa502e ;
	text-align: center;
}
.title-css{
	font-family: var(--font-primaria);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	color:#2196f3;
	text-align: center;
}
.title-js{
	font-family: var(--font-primaria);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	color:#ffdf00;
	text-align: center;
}
.title-bootstrap{

	font-family: var(--font-primaria);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	color:#5e3b7f;
	text-align: center;
}


.atalho{
	width: 100px;
	height:100px;
	
}

.rodape{
	background-color: #2c3e50;
	height:auto;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
}
.secao-localizacao,.secao-redes-sociais,.secao-marca{

	margin: 10px;
	padding: 20px;

	font-family: var(--font-primaria);
	color: white;
	text-align: center;
	justify-content: center;
	align-items: center;
	
}
.secao-redes-sociais a{
	text-decoration: none;
}

.icone-social{
	height: auto;
	width: 40px;

}
.icone-localizacao{
	display: none;
	height: auto;
	width: 45px;
}
.zap{
	position: fixed;
	margin-top: 250px;
	margin-left: 20px;
	height: 50px;
	width: auto;
	z-index: 1;
	animation: tremer 0.8s infinite;
	animation-fill-mode: both;
	
}
.marca-empresa{
	height: auto;
	width: 40px;
	margin-right:10px;
	display: none;
}
.footer{

	background-color:#1a252f;
	height:auto;
	color: white;
	text-align: center;
	padding: 20px;

	font-family: var(--font-primaria);
}


.atalho-topo{
	position:absolute;
	right: 20px;
}

.button-topo{
	height: auto;
	width: 50px;
}
