*{
    margin: 0;
    padding: 0;
}
header{
    padding: 100px;
    background-image: url(../img/emile-perron-xrVDYZRGdw4-unsplash.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}
.card{
    background-color:#0984e3;
    height: 500px;
    width: 70%;
    color:#dfe6e9;
    position: relative;
    overflow: hidden;
    margin:auto;
    padding:20px;
    display: flex;
    flex-direction: row;
    border-radius: 5px 5px 10px 10px;

    
}
.profile{
    padding:20px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.name{
    border: 1px solid black;
    margin-top:10px;
    margin-bottom: 10px;
}
.formation{
    border: 1px solid black;
    margin-top:10px;
    margin-bottom: 10px;
}
.contact{
    border: 1px solid black;
    margin-top:10px;
    margin-bottom: 10px;
}
.social-media-icons{
    border: 1px solid black;
    margin-top:10px;
    margin-bottom: 10px;
    text-align: center;
}

.profile-picture{
	display: flex;
    justify-content: center;
    margin: auto;
    
}
.picture{
    width:60%;
    border-radius: 50%;
    padding-bottom: 20px;
}